<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wine Application</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="static/js/lib/html5shiv.js"></script>
          <script src="static/js/lib/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-app>
        <div class="container" ng-controller="WineController">
            <section>
                <h1>Wine Application</h1>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">List of tasty wines!</div>
      
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Year</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="wine in wines">
                            <td>{{ wine.name }}</td>
                            <td>{{ wine.year }}</td>
                            <td>
                                <a class="btn btn-default btn-sm pull-right" href="#myModal" ng-click="deleteButtonPressed(wine.id)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div id="alert" class="alert alert-danger">
                        <h4>แน่จริงมึงลบสิ แสรดดด</h4>
                        <p>ลบแล้วมันจะหายไปชั่วฟ้าดินสลาย ใครก็ช่วยมุงไม่ได้</p>
                    </div>
                  </div>
                  
                  <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="return true;">ลบแม่ม!</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" onclick="return false;">ล้อเล่นแสรด</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div> <!-- .container -->

        <script src="static/js/lib/jquery-2.0.3.min.js"></script>
        <script src="static/js/lib/underscore-min.js"></script>
        <script src="static/js/lib/bootstrap.min.js"></script>
        <script src="static/js/lib/angular.min.js"></script>
        <script src="static/js/wine-controller.js"></script>
    </body>
</html>
